@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300;
}

body {
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
}

.font-abel {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
